{% extends 'article.html' %}

{% load static %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div id="upload-area">
            <i class="fa-solid fa-image"></i>
            <p>Drop an image or click to upload one</p>
        </div>
        {{ form }}
        <br><br><br>
        <input class="button" id="save-button" type="submit" value="Save">
        <div class="clear-float"></div>
    </form>
    <script src="{% static 'js/file-upload.js' %}"></script>
    <script src="{% static 'js/markdown-editor.js' %}"></script>
{% endblock %}