{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="tomato">
    <meta name="description" content="Lighthouse is an open sourcee project committed to giving developers a great Django app development template. Fork us on Github.">
	<title>Document</title>
	<!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/lighthouse.svg' %}">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Link manifest -->
	<link rel="manifest" href="{% static 'manifest.json' %}">
	<!-- Scripts -->
	<script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
	{% include 'navbar.html' %}
	{% include 'header.html' %}
	
	<span id="content"></span>
	{% block content %}{% endblock %}
</body>
</html>